<section class="mt-5 ml-6 mb-5">
  <h1 class="text-2xl font-bold">Uncommon Pipes</h1>
  <h3 class="text-xl font-thin">Pipes incluidos en angular</h3>
</section>

<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
  <app-card title="I18nSelectPipe">
    <p>Saludos {{ client().name }}, es un placer {{ client().gender | i18nSelect:invitationMap }} a nuestro evento</p>
    <button (click)="changeClient()" class="btn btn-accent">Cambiar Cliente</button>
  </app-card>

  <app-card title="I18nPluralPipe">
    <p>Actualmente {{ clients().length | i18nPlural:clientsMap }}</p>
    <button (click)="deleteClient()" [disabled]="clients().length === 0" class="btn btn-accent">Borrar Cliente</button>
  </app-card>

  <app-card title="SlicePipe">
    <p>Original</p>
    <p class="text-accent">{{ clients().join(', ') }}</p>

    <p class="mt-2">Slice 0:2</p>
    <p class="text-accent">{{ clients() | slice:0:2 }}</p>

    <p class="mt-2">Slice 0:-3</p>
    <p class="text-accent">{{ clients() | slice:0:-3 }}</p>
  </app-card>

  <app-card title="JsonPipe">
    <pre class="text-accent">{{ clients() | json  }}</pre>
    <pre class="text-accent">{{ client() | json }}</pre>
    <p class="text-accent">{{ clients().join(', ') | json | uppercase }}</p>
  </app-card>

  <app-card title="KeyValuePipe">
    <!-- <pre>{{ profile | keyvalue | json }}</pre> -->
    <ul>
      @for (item of profile | keyvalue ; track $index) {
      <li>
        <strong class="text-accent">{{ item.key | titlecase }} </strong>
        <span>{{ item.value }}</span>
      </li>
      }
    </ul>
  </app-card>
</div>
